body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  overflow-y: scroll;
}

.MuiCard-root, .MuiPaper-elevation1 {
  box-shadow: 0 5px 5px rgba( 0 0 0 /0.05) !important;
}

.MuiCardHeader-root,
.MuiCardContent-root,
.MuiCardActions-root {
  padding: 7px !important;
}

h5.MuiTypography-root {
  font-size: 1.2rem !important;
}
